name: Trigger API Call

on:
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - run: python trigger-api-call.py
        env:
          ACTION_RUN_URL: >
            ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
          SIGNING_SECRET: ${{ secrets.SIGNING_SECRET }}
      
    
